h2{
    text-align: center;
    color: blue;
    text-shadow: #000 -1px 1px;
}
#feriado{
    color: red;
}
table, th, td, tr{
    border: 1px solid blue;
    text-align: center;
    margin: auto; 
}
thead{
    color: blue;
}
td{
    width: 50px;
    height: 40px;
}
#select{
    text-align: center;
    margin: auto;
    color: blue;
}